footer
	flex: 0 0 auto
	background-color: #376523
	// background-image: url(../img/general/footer.png)
	// background-size: cover
	// background-position: top center
	// background-repeat: no-repeat
	padding-top: 8vh
	padding-bottom: 5vh
	.nav-link
		white-space: normal
.footer-nav
	font-size: 0.875rem
	li 
		padding: .5em 0
		font-weight: 500
		display: block	
		a
			display: inline
			padding: 0
			&:before
				display: none
.social-item
	width: 25px
	height: 25px
	background-image: url(../img/general/social.png)
	background-position: 0
	background-repeat: no-repeat
	cursor: pointer
	border-radius: 50%
	transition: .3s ease
	&:hover
		background-color: #175528
		box-shadow: 0 0 10px 5px rgba(255,255,255, 0.2)
.social-item:nth-child(2)
	background-position: -35px 0
.copyright
	font-size: 0.775rem