header.header
	a.logo
		img(src="../img/general/logo2.png", alt="")
	.nav
		a.nav-link.active(href='#'): span ШКОЛЬНИКАМ
		a.nav-link(href='#'): span ЭКОПАР
		a.nav-link(href='#'): span ДЕЯТЕЛЬНОСТЬ ФОНДА
		a.nav-link(href='#'): span ВОССТАНОВЛЕНИЕ ПРИРОДЫ
		a.nav-link(href='#'): span контакты
