extends ../template/main

block variables
	- var title = 'Животный мир'
	- var pageClass = 'secondary-page'
block content
	section.animals
		.container
			h1 Животный мир в состоянии естественной свободы
			.row
				.col-12.col-md-6.gallery-item__container
					.gallery-item.h-100
						.embed-responsive.h-100
							a(href="img/content/animals/slide (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").gallery-item__photo.gallery-item__main-photo.h-100.pb-2
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slide (2).jpg')").w-100.h-100
				.col-12.col-md-6
					.accent-block.mb-2
						h4.text-dark.text-left Звери наших лесов: <br>незнакомые соседи.
						p Знакомство с миром зверей, живущих в лесу прямо у нас под ногами. Можно будет увидеть исконных обитателей таёжных лесов: землероек и грызунов. Их присутствие необходимо для леса.

					.row
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (9).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (9).jpg')").w-100
							
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (10).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (10).jpg')").w-100
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (6).jpg')").w-100
			.row
				.col-12.col-sm-8.col-md-4.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--wide
							a(href="img/content/animals/animals (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (4).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (2).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (15).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (15).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (16).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (16).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (12).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (12).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--long
							a(href="img/content/animals/animals (1).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (1).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--long
							a(href="img/content/animals/animals (8).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (8).jpg')").w-100
				.col-6.col-sm-4.col-md-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--long
							a(href="img/content/animals/animals (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (11).jpg')").w-100
				.col-6.col-sm-4.col-md-2
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (17).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (17).jpg')").w-100
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (7).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (7).jpg')").w-100
				.col-6.col-sm-4.col-md-2
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (13).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (13).jpg')").w-100
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (5).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (5).jpg')").w-100
				.col-6.col-sm-4.col-md-2
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (3).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (3).jpg')").w-100
		.green-section.mb-2
			.container
				h2.text-dark.m-0.py-4 Информационные плакаты
		.container
			.swiper-container.gallery-slider
				.swiper-wrapper
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (1).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (1).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (3).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (3).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (4).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (5).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (5).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (6).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (7).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (7).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (8).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (8).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (9).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (9).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (10).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (10).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (11).jpg')").h-100
				.swiper-navigation
					.swiper-button-prev.gallery-button-prev
					.swiper-button-next.gallery-button-next
