extends ../template/main

block variables
	- var title = 'Заявка'
	- var pageClass = 'secondary-page'
block content
	section.page-contacts
		.container
			h1 Коллектив Экопарка всегда рад гостям
			.row
				.col-6
					.bg