extends ../template/main

block variables
	- var title = 'Новости'
	- var pageClass = 'secondary-page'
block content
	section.chrono
		.container
			.row
				.col-9.offset-3.col-lg-7.offset-lg-4
					h3.text-dark Хронология создания Экопарка
					.chrono__item
						.chrono__title Проект 2019-2020
						.chrono__text На территории Фонда «НАЧИНАНИЕ» в 2019/20 гг  запущен проект реабилитационного лагеря на 25-30 человек для детей инвалидов, воспитанников детских домов и интернатов. В настоящее время ведутся проектные работы и строительство.
					.chrono__item
						.chrono__title Май 2018
						.chrono__text На базе созданного Экопарка начал функционировать всесезонный экологический лагерь для школьников с познавательным уклоном.  Лагерь сформирован в форме экологической базы. Дневное пребывание детей в лагере полностью финансируется из средств Фонда.
					.chrono__item
						.chrono__title Апрель 2013
						.chrono__text Фонд «НАЧИНАНИЕ» на арендованном лесном участке начал реализацию программы по лесовостановлению после экокатастроф.  Эти работы проводились совместно с учёными биологами в рамках договора, заключённого Фондом  с Биофаком МГУ им. М. В. Ломоносова.

