extends ../template/main

block variables
	- var title = 'МГУ'
	- var pageClass = 'secondary-page'
block content
	section.mgu
		.container
			h1 Отчетность и регистрация Фонда «НАЧИНАНИЕ»
			h2 Аудиторское заключение за 2018 г.
			.row
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/audit/a1.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/audit/a1.jpg").w-100.h100
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/audit/a2.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/audit/a2.jpg").w-100.h100
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/audit/a3.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/audit/a3.jpg").w-100.h100
			h2 Регистрация Фонда
			.row
				.col-10.offset-1.col-lg-4.offset-lg-2.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/fond/1.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/fond/1.jpg").w-100.h100
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/fond/2.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/fond/2.jpg").w-100.h100
			h2 Бухгалтерская отчетность за 2018 г.
			.row
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/buh/1.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/buh/1.jpg").w-100.h100
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/buh/2.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/buh/2.jpg").w-100.h100
				.col-10.offset-1.col-lg-4.offset-lg-0.mb-5
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/buh/3.jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/buh/3.jpg").w-100.h100