extends ../template/main

block variables
	- var title = 'Экскурсии школьникам'
	- var pageClass = 'secondary-page'
block content
	section.excursion
		.container
			h1 Всесезонные школьные экскурсии
			.row
				.col-12.col-lg-6.excursion--left-block
					.row.gallery
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (1).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 2").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (2).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (3).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 3").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (3).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 4").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (4).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (5).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 2").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (5).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 3").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (6).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (7).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 4").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (7).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (8).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 2").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (8).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (9).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 3").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (9).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (10).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 4").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (10).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 2").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (11).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (12).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 3").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (12).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (13).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 4").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (13).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container.d-none.d-xl-block.d-xxl-none
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 2").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (11).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container.d-none.d-xl-block.d-xxl-none
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (12).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 3").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (12).jpg')").w-100.h100
						.col-6.col-xl-4.gallery-item__container.d-none.d-xl-block.d-xxl-none
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/ex (13).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 4").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (13).jpg')").w-100.h100
				.col-12.col-lg-6.excursion--right-block
					.accent-block.mb-2
						.accent-block__title ЭКОЛОГИЧЕСКОЕ ПРОСВЕЩЕНИЕ
						.accent-block__text прививает подрастающему поколению знания и навыки разумного общения с природой  и по охране природных богатств.
					dl.triangle.mx-4.mb-4
						dt По ботанике
						dd Лесные растительные сообщества Подмосковья;
						dd Особенности естественного и искусственного восстановления лесов – основные методы, опыт экопарка;
						dd Локальные экологические катастрофы (ветровалы, короедники и т.д.) – причины, способы восстановления последствий и предупреждения. 
					dl.triangle.mx-4.mb-4
						dt По ихтиологии
						dd История формирования Истринского водохранилища;
						dd Геоморфология залива реки Катышка (Истринское водохранилище) и видовой состав рыб;
						dd Нерестилища залива реки Катышка, особенности нереста рыб и развития молоди.
					dl.triangle.mx-4.mb-5
						dt По зоологии и орнитологии
						dd Звери наших лесов: незнакомые соседи;
						dd Зимующие птицы Москвы и области;
						dd Весна в жизни птиц. Зачем птицы поют?
			dl.triangle.theme-lesson.w-75.mx-auto.mb-5
				dt Темы для занятий в лаборатории школы юннатов
				dd Морфология высших растений – обучение методам распознавания растений по определительным признакам. (Практическое занятие).
				dd Анатомия высших растений – мастер-класс по изучению срезов листа, корня и стебля. (Практическое занятие).
				dd Определение видового состава рыб Истринского водохранилища.
			.graphic.w-75.text-center.m-auto
				h3 График занятий в лагере на  2019 г
				.subtitle-secondary-big проведено в первом полугодии
				.subtitle-secondary 26 экскурсий по Ботанике: 
				p Темы - «Леса средней полосы: разнообразие, угрозы, восстановление»; 
				.subtitle-secondary 22 экскурсии по Орнитологии: 
				p Темы - «Зимующие птицы Моск.обл.», «Окно в мир леса», «Зачем поют птицы»;
				.subtitle-secondary 20 экскурсий по Зоологии:  
				p  Темы - «Следы зверей на снегу»;
				.subtitle-secondary 20 экскурсий по Ихтиологии: 
				p Темы - «История формирования Истринского водохранилища», «Нерестилища залива реки Катышка», «Особенности нереста рыб и молоди».
			.calendar.w-75.mx-auto.mb-5
				img(src="../img/general/calendar.png", alt="").w-100
			.school-list.w-75.mx-auto
				h3 Перечень школ, учащиеся, которых посетили лагерь в 2018-2019 г
				.row
					.col-10.offset-1.col-sm-6.offset-sm-3.col-lg-3.offset-lg-0.latter-container.order-lg-1.order-2
						img(src="../img/content/latter.jpg", alt="").w-100.latter
					.col-12.col-lg-9.order-lg-2.order-1
						ol
							li ГБОУ школа № 1568  им. Пабло Неруды, 5-11 классы (пр-д Шокальского, д.7 р-н Бабушкинский)
							li ГБОУ «Вторая школа» (г.Москва, ул. Фотиевой, Гагаринский р-н)
							li ГБОУ Школа № 2006 (ул.Грина, р-н Бутово)
							li Школа № 1748 «Вертикаль» Измайлово, Сиреневый бульвар, д.73, корп.3 Измайлово
							li Лицей МПГУ Ул. 3-я Владимирская,  д 7.ПЕРОВО
							li Призёры Биологической олимпиады МГУ
							li МБОУ СОШ №3 Г. Королев
							li Школа № 1502 при МЭИ  9-й класс 
							li МБОУ гимназия № 6 5-й класс Солнечногорск 
							li ГБОУ г.Москвы Школа № 1535  Ул.Усачева, д.50   10-й класс
							li Школа Лесные озера, дер. Новая, Солнечногорский р-н










