extends ../template/main

block variables
	- var title = 'Помощ экопарку'
	- var pageClass = 'secondary-page'
block content
	section.help
		.container
			h1 Полевые сборы студентов Биофака МГУ
			.row
				.col-6.mb-2
					.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
				.col-6.mb-2
					.accent-block
						ul.accent-list
							li: <span class="text-big">Волонтёры</span> – работы по восстановлению лесов и растительности в Экопарке
							li: <span class="text-big">Биологи</span>  – участие в научных исследованиях в Экопарке
							li: <span class="text-big">Блогеры</span> – организация форумов и заочных конференций в соцсетях школьников, посетивших Экопарк.
							li: <span class="text-big">Спонсоры</span> – финансовая помощь работ, проводимых в Экопарке, и для организации просветительского отдыха детей. 
							li: <span class="text-big">Все</span> - любая помощь в организации реабилитационного  лагеря  Солнышко для детей-инвалидов
				.col-6
					.photo-container.w-100.h-100(style="background-image: url('img/content/help/help2.jpg')")

				.col-6
					.accent-block
						p: b Московский региональный общественный фонд создания, поддержания и развития экологических парков «НАЧИНАНИЕ» (МРОФ «НАЧИНАНИЕ») Московский региональный общественный фонд создания, поддержания и развития экологических парков «НАЧИНАНИЕ» (МРОФ «НАЧИНАНИЕ»)
						ul.mb-4
							li Реквизиты для перечисления средств.
							li ИНН 7701009269 
							li КПП 772401001 
							li ОГРН 1025700001348
							li р/с 40703810038000008423
							li ПАО Сбербанк г. Москва
							li БИК 044525225
							li к/с 30101810400000000225
							li Основание платежа: благотворительный взнос на……
						p.text-accent: b Фонд Начинание проводит благотворительный проект и не имеет никакой цели по дальнейшему коммерческому использованию лесного участка.
