extends ../template/main

block variables
	- var title = 'Полевые сборы'
	- var pageClass = 'secondary-page'
block content
	section.meetings
		.container
			h1 Полевые сборы студентов Биофака МГУ
			.row.gallery
				.col-6.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/meeting/meet (1).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (1).jpg')").w-100.h100
								p.gallery-item__photo-desc Кандидат биологических наук, <br>доцент Биофака МГУ Павлов С.Д. <br>руководит  работами студентов
				.col-6
					.embed-responsive.embed-responsive-16by9
						.embed-responsive-item.p-1
							.accent-block.mb-2.text-dark.w-100.h-100
								dl.triangle
									dt.text-dark Возможные темы учебных работ студентов:
									dd Видовой состав ихтиофауны Москвы-реки и Истринского водохранилища в сравнительном аспекте.
									dd Паразитофауна рыб Истринского водохранилища.
									dd Методы отлова и зоологической обработки мелких млекопитающих
				.col-2
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/meeting/meet (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (2).jpg')").w-100.h100
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/meeting/meet (3).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (3).jpg')").w-100.h100
				.col-6.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-29by11
							a(href="img/content/meeting/meet (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (4).jpg')").w-100.h100
				.col-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-6by7
							a(href="img/content/meeting/meet (5).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (5).jpg')").w-100.h100
				.col-2
					.row
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/meeting/meet (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (6).jpg')").w-100.h100
						.col-12.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-16by9
									a(href="img/content/meeting/meet (7).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/meeting/meet (7).jpg')").w-100.h100
			.row
				.col-8.offset-2.accent-block__container
					.accent-block.mb-2.text-dark.w-100.h-100
						dl.triangle
							dt.text-dark Темы для занятий в лаборатории 
							dd Морфология высших растений – обучение методам распознавания растений по определительным признакам. (Практическое занятие).
							dd Анатомия высших растений – мастер-класс  по изучению срезов листа, корня и стебля. (Практическое занятие).
							dd Определение видового состава рыб Истринского водохранилища.
							dd Определение возраста и параметров роста
							dd по регистрирующим структурам рыб.
