extends ../template/main

block variables
	- var title = 'МГУ'
	- var pageClass = 'secondary-page'
block content
	section.mgu
		.container
			h1 Научные отчеты МГУ по восстановлению биоты Экопарка и Подмосковья
			.row
				.col-4
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/mgu/mgu (3).png" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/mgu/mgu (3).png')").w-100.h100
					.mgu__item-content.text-center 
						.mgu__step.text-big пятый этап
						.mgu__date.mb-3 Декабрь 2018г
						.text-desc.px-5
							b ТЕМА: <br>Мониторинг лесовосстановления и животного разнообразия Экопарка. Проект просветительской деятельности
				.col-4
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/mgu/mgu (2).png" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/mgu/mgu (2).png')").w-100.h100
					.mgu__item-content.text-center 
						.mgu__step.text-big пятый этап
						.mgu__date.mb-3 Январь 2018г
						.text-desc.px-5
							b ТЕМА: <br>Проект экологической тропы экопарка "НАЧИНАНИЕ". Анализ гидрохимических показателей воды акватории, прилегающей к экопарку, и ее притоков
				.col-4
					.gallery-item.gallery-item--shadow
						.embed-responsive.embed-responsive-3by4
							a(href="img/content/mgu/mgu (1).png" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/mgu/mgu (1).png')").w-100.h100
					.mgu__item-content.text-center 
						.mgu__step.text-big пятый этап
						.mgu__date.mb-3 Октябрь 2017г
						.text-desc.px-5
							b ТЕМА: <br>Проект экологической тропы экопарка "НАЧИНАНИЕ". Анализ гидрохимических показателей воды акватории, прилегающей к экопарку, и ее притоков