extends ../template/main

block variables
  - var title = 'Новость'
  - var pageClass = 'secondary-page'
block content
  section.page-contacts
    .container
      h1 Новость
      .news-page__content
        h4 Единственный в Подмосковье экопарк «Начинание» открыл свои двери для школьников Солнечногорска
        img.news-page__image.w-50.float-left.mr-3(src="img/content/ex (1).jpg", alt="")
        p: b Шестиклассники школы «Лесные озера» посетили с ботанико-зоологической экскурсией уникальный и единственный во всем Подмосковье экопарк «Начинание», расположенный в Солнечногорье. Своими научными и практическими знаниями поделились сотрудники биологического факультета МГУ имени Ломоносова. Они рассказали учащимся об особенностях подмосковной лесной, прибрежной и водной экосистем.
        p Ребята расширили свои знания о видах флоры и фауны, естественном и искусственном восстановлении лесов, биоразнообразии Истринского водохранилища, осмотрели искусственные нерестилища для рыб и кормушки для птиц.
        p — У этого класса экологический профиль: экскурсия оказалась для них вдвойне полезна. В целом экопарк — единственный в Подмосковье, других похожих больше нет. Он организован фондом «Начинание», который взял в аренду участок лесничества и заключил договор с биофаком МГУ, в рамках которого приглашаются профессора для экскурсий. Мы планируем привозить сюда школьников на регулярной основе, — рассказал начальник отдела экологии администрации городского округа Солнечногорск Денис Афиногентов.
        p Кроме того, фонд готов разработать проект и инвестировать средства в реконструкцию очистных сооружений в деревне Новая. Первым шагом стало взятие проб лабораторией Западного отдела ФБУ «Центр лабораторного анализа и технических измерений по Центральному Федеральному округу». Результаты анализа будут известны в течение 10 дней.
        p Экопарк «Начинание» расположен на 20 гектарах лесного массива и занимает 6 гектаров акватории Истринского водохранилища. Это единственный экопарк в Подмосковье, где проводится научная, просветительская и лесовосстановительная работа. На территории организована школа юннатов, на базе которой работает биостанция МГУ: приезжающие на практику студенты могут там жить, питаться и вести научную деятельность. Экопарк расположен между деревнями Соколово и Полежайки (Пятницкое шоссе, 45 км от МКАД).
      
