extends ../template/main

block variables
	- var title = 'Новости'
	- var pageClass = 'secondary-page'
block content
	section.page-news
		.container
			h2 События и новости
			.row.page-news__list
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								h4.text-dark.text-left экопарк «Начинание» открыл свои двери для школьников Солнечногорска
								.page-news__subtitle 26 июня состоялся второй визит школьников - волонтеров из ближайшей школыЛесные озера из д.Новая. Солнечногорского района.. 
								p
									| Дети поработали в питомнике, ухаживали за сеянцами и саженцами. Во второй разособенно продуктивно, когда 
									| их обеспечили удобным инструментом. Немного гуляли
									| по территории, собирали лесную землянику. Очень хорошо организует детей учительница Надежда Васильевна. 
									| Дети ее слушают беспрекословно. По окончании
									| работы дети собрались в школе Юннатов, пообедали, читали стихи и спели песню.
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								.page-news__content
									h4.text-dark.text-left 18 июня 2019г во вторник Экопарк впервые организовал приём волонтёров.
									p
										| Волонтёры – это не экскурсия, а самостоятельный приезд детей с родителями из разных классов
										| школы Лесные озёра Солнечногорского района, дер. Новая.
										| Управляющий парка Дмитрий Борисович поручил детям самостоятельные работы в питомнике:
										| - прополку на посадках молодых сосен, елей, дубов и кленов:
										| - у саженцев Дуба побороть налет Мучнистой росы
										| Затем прошла встреча со студентами биофака МГУ, которые были на полевых работах (проходили
										| практику). 
								a(href="#").link-btn.text-dark.d-block.text-right читать дальше >>
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								h4.text-dark.text-left Самостоятельные работы студентов Биофака МГУ.
								.page-news__subtitle С 17 июня в Экопарке «Начинание» в рамках студенческой учебной практики 29 студентов первого курса биологического факультета МГУ (группы 101 – 108) проводили самостоятельные работы
								p
									| Дети поработали в питомнике, ухаживали за сеянцами и саженцами. Во второй разособенно продуктивно, когда 
									| их обеспечили удобным инструментом. Немного гуляли
									| по территории, собирали лесную землянику. Очень хорошо организует детей учительница Надежда Васильевна. 
									| Дети ее слушают беспрекословно. По окончании
									| работы дети собрались в школе Юннатов, пообедали, читали стихи и спели песню.
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								h4.text-dark.text-left экопарк «Начинание» открыл свои двери для школьников Солнечногорска
								.page-news__subtitle 26 июня состоялся второй визит школьников - волонтеров из ближайшей школыЛесные озера из д.Новая. Солнечногорского района.. 
								p
									| Дети поработали в питомнике, ухаживали за сеянцами и саженцами. Во второй разособенно продуктивно, когда 
									| их обеспечили удобным инструментом. Немного гуляли
									| по территории, собирали лесную землянику. Очень хорошо организует детей учительница Надежда Васильевна. 
									| Дети ее слушают беспрекословно. По окончании
									| работы дети собрались в школе Юннатов, пообедали, читали стихи и спели песню.
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.accent-block
								.page-news__subtitle С 17 июня в Экопарке «Начинание» в рамках студенческой учебной практики 29 студентов первого курса биологического факультета МГУ (группы 101 – 108) проводили самостоятельные работы
								p Это дети  из  более 20 Московских школ, в том числе учащиеся биологических классов.  В лагерь приезжают, также,  дети из учебных заведений Солнечногорского района. 
								p На II  полугодие 2019 года запланировано 110 экскурсий. Ещё около 700  школьников посетят Экопарк до конца года.
						.col-lg-6.mb-2.page-news__item
							.accent-block
								p Победители биологических олимпиад МГУ в 2019г были награждены однодневными посещениями лагеря с экскурсиями по Экотропе.
								p Всего прослушано с мая 2018 года:  26 экскурсий по Ботанике; 22 экскурсии по Орнитологии;  20 экскурсий по Зоологии;  20 экскурсий по Ихтиологии.
	section.chrono
		.container
			.row
				.col-9.offset-3.col-lg-7.offset-lg-4
					h3.text-dark Хронология создания Экопарка
					.chrono__item
						.chrono__title Проект 2019-2020
						.chrono__text На территории Фонда «НАЧИНАНИЕ» в 2019/20 гг  запущен проект реабилитационного лагеря на 25-30 человек для детей инвалидов, воспитанников детских домов и интернатов. В настоящее время ведутся проектные работы и строительство.
					.chrono__item
						.chrono__title Май 2018
						.chrono__text На базе созданного Экопарка начал функционировать всесезонный экологический лагерь для школьников с познавательным уклоном.  Лагерь сформирован в форме экологической базы. Дневное пребывание детей в лагере полностью финансируется из средств Фонда.
					.chrono__item
						.chrono__title Апрель 2013
						.chrono__text Фонд «НАЧИНАНИЕ» на арендованном лесном участке начал реализацию программы по лесовостановлению после экокатастроф.  Эти работы проводились совместно с учёными биологами в рамках договора, заключённого Фондом  с Биофаком МГУ им. М. В. Ломоносова.


