extends ../template/main

block variables
	- var title = 'СМИ'
	- var pageClass = 'secondary-page'
block content
	section.page-news
		.container
			h2 СМИ о нас
			.row.page-news__list
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi (1).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi (2).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi (3).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi (4).jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								.page-news__content
									h4.text-dark.text-left Единственный в Подмосковье экопарк «Начинание» открыл свои двери для школьников Солнечногорска
									p Шестиклассники школы «Лесные озера» посетили с ботанико-зоологической экскурсией уникальный и единственный во всем Подмосковье экопарк «Начинание», расположенный в Солнечногорье. Своими научными и практическими знаниями поделились сотрудники биологического факультета МГУ имени Ломоносова. Они рассказали учащимся об особенностях подмосковной лесной, прибрежной и водной экосистем.
								a(href="https://www.solreg.ru/news/53376/").link-btn.text-dark.d-block.text-right читать дальше >>
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/help/help1.jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								.page-news__content
									h4.text-dark.text-left Преподаватели МГУ провели эко-урок для солнечногорских школьников
									p Ученики школы «Лесные озера» посетили экскурсию а эко-парке «Начинание». Он единственный в своём роде в Подмосковье. Гиды здесь специалисты-преподаватели самого МГУ.
								a(href="https://www.youtube.com/watch?time_continue=135&v=vQRiwruRIFQ").link-btn.text-dark.d-block.text-right читать дальше >>
				.col-12.page-news__container
					.row
						.d-none.d-lg-block.col-lg-6.mb-2.page-news__photo
							.swiper-container.page-slider.h-100
								.swiper-wrapper
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi2 (1).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi2 (2).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi2 (3).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi2 (4).jpg')")
									.swiper-slide
										.photo-container.w-100.h-100(style="background-image: url('img/content/smi2 (5).jpg')")
								.swiper-pagination.page-pagination
									.swiper-button-next.page-button-next
									.swiper-button-prev.page-button-prev
						.col-lg-6.mb-2.page-news__item
							.accent-block
								.page-news__content
									h4.text-dark.text-left Лицеисты естественнонаучного профиля побывали в экопарке «Начинание»
									p 30.03.19 учащиеся естественнонаучного профиля посетили экологический парк «Начинание», который располагается на берегах Истринского водохранилища и представляет собой участок территории лесного массива с прилегающей водной акваторией. В рамках сотрудничества парка и Московского государственного университета им М.В. Ломоносова, преподаватели биологического факультета осуществляют научно-исследовательскую и просветительскую деятельность в области экологии.
								a(href="https://www.youtube.com/watch?time_continue=135&v=vQRiwruRIFQ").link-btn.text-dark.d-block.text-right читать дальше >>