extends ../template/main

block variables
	- var title = 'Поддержка'
	- var pageClass = 'secondary-page'
block content
	section.support
		.container
			h1 Наш проект поддерживают
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Донской  С. Е.</b> <br>Министр природных ресурсов и экологии РФ (2017 г)
				.row
					.col-6.offset-1
						.gallery-item
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/support/sup (9).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (9).jpg')").w-100.h100
						p.py-2.text-desc.text-center Министр Минприроды РФ  Донской С.Е. и Соучредитель Фонда «Начинание» Тынкован А.А.  на открытии выставки фотографий  природы фотохудожника И. Шпилёнка
					.col-4.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/support/sup (6).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (6).jpg')").w-100.h100
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Советников И.В.</b><br> Зам. директора Департамента государственной политики<br> в области лесных ресурсов (2017 г)
				.row
					.col-4.offset-2.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/support/sup (7).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (7).jpg')").w-100.h100
					.col-4.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/support/sup (8).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (8).jpg')").w-100.h100
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Афиногентов Д.С</b> <br>Начальник отдела экологии  администрации<br>городского округа Солнечногорск Московской обл.   
				.row
					.col-5.offset-1
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (1).jpg')").w-100.h100
					.col-5.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (2).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (2).jpg')").w-100.h100
				p.py-2.text-desc.text-center Афиногентов Д.С. приехал  к детям, отдыхающим в лагере
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>	Кирпичников М.П.</b> <br>Декан Биофака МГУ, академик Российской академии наук   
				.row
					.col-3.offset-2
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/support/sup (5).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (5).jpg')").w-100.h100
					.col-5
						.accent-block.h-100
							.quote
								.quote__text Уверен, что практическое воплощение научных достижений ученых Биофака принесут пользу природе Подмосковья и&nbspЭкопарку “Начинание” 
								.quote__name М.П. Кирпичников
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Учащиеся образовательной школы «Лесные озёра» <br>Солнечногорского района </b>
				.row
					.col-5.offset-1
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (12).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (12).jpg')").w-100.h100
					.col-5.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (3).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (3).jpg')").w-100.h100
				p.py-2.text-desc.text-center Афиногентов Д.С. приехал  к детям, отдыхающим в лагере
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Учащиеся образовательной школы «Лесные озёра» <br>Солнечногорского района </b>
				.row
					.col-4.offset-2
						.gallery-item
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/support/sup (12).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (11).jpg')").w-100.h100
					.col-4.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/support/sup (3).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (10).jpg')").w-100.h100
				p.py-2.text-desc.text-center Афиногентов Д.С. приехал  к детям, отдыхающим в лагере
			.support-item.mb-5
				.text-bigger.text-center.mb-4 <b>Учащиеся образовательной школы «Лесные озёра» <br>Солнечногорского района </b>
				.row
					.col-5.offset-1
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (13).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (13).jpg')").w-100.h100
					.col-5.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/support/sup (4).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/support/sup (4).jpg')").w-100.h100
				p.py-2.text-desc.text-center Афиногентов Д.С. приехал  к детям, отдыхающим в лагере