extends ../template/main

block variables
	- var title = 'Задачи'
	- var pageClass = 'secondary-page'
block content
	section.tasks.pb-0
		h1 Задачи Фонда «Начинание» 
		
		.container
			p: <b>Экологическая работа Фонда «НАЧИНАНИЕ»</b> направлена на восстановление в Московской области нарушенных естественных экологических систем (защита и восстановление лесного массива и биоразнообразия в лесах, водоёмах и прибрежных зонах), а также на создание и развитие экопарков Подмосковья и формирование экологической культуры среди населения и школьников.
	
		.green-section.py-4.mb-3
			.container
				.row
					.col-12.col-md-4.col-lg-6.order-1.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-lg-6.d-flex.align-items-center
						dl.triangle.pl-4
							dt.text-dark Наши проекты
							dd восстановление в Московской области биологического и реликтового ландшафтного разнообразия  после экологических бедствий;
							dd Использование опыта работ по лесовосстановлению ученых МГУ в научной деятельности с целью распространения накопленного опыта на конференциях и в научных публикациях.
					.col-6.col-md-4.col-lg-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h100
					.col-6.col-md-8.col-lg-3.gallery-item__container
						.row.h-100
							.col-6.col-lg-5.gallery-item__container.h-100
								.gallery-item.h-100
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.w-100.h-100.pb-2
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
							.col-6.col-lg-7.gallery-item__container.h-100
								.gallery-item.h-100
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.w-100.h-100.pb-2
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-4.col-lg-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-4.col-lg-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
	
		.container.mb-3
			p Проводимая природоохранная деятельность  на прибрежной территории позволит связать  работы по экологии водной акватории в  единый комплекс природоохранных мероприятий. <br>Прибрежная зона территории представляется уникальной  для проведения научных работ. Вызывают интерес сравнительные исследования состава ихтиофауны как речного участка водоема, так и лимнофильного (стоячего);
			.row
				.col-4
					.gallery-item.gallery-item__container
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-4
					.gallery-item.gallery-item__container
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-4
					.gallery-item.gallery-item__container
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
	
		.green-section.py-4.mb-3
			.container
				.row
					.col-12.col-lg-6.order-1.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-21by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-12.col-lg-6.d-flex.align-items-center.px-4
						p Организация познавательного отдыха для детей из школ с биологическим уклоном, детей из школ Солнечногорского района, а также студентов МГУ. <br>Обустройство экологической тропы для демонстрации редких растений Подмосковья.  Проведение  экологических экскурсий для школьников и юннатов.
					.col-6.col-md-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h100
					.col-6.col-md-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-3.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
	
		.container.mb-3
			.row
				.col-lg-6.d-flex.align-items-center.px-4
					p Создание инфраструктуры Экопарка:  оснащение Школы Юннатов оборудованием (тринокуляры, бинокуляры) для проведения занятий и изучения  собранного материала, а так же для кратковременного отдыха школьников и студентов. 
				.col-3
					.gallery-item.gallery-item__container
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-4.col-lg-3.order-1.order-lg-0
					.gallery-item.gallery-item__container
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-9.col-lg-6.gallery-item__container.pb-2
					.row.h-100
						.col-4.gallery-item__container.h-100
							.gallery-item.h-100
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.h-100
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
						.col-4.gallery-item__container.h-100
							.gallery-item.h-100
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.h-100
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
						.col-4.gallery-item__container.h-100
							.gallery-item.h-100
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.h-100
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-4.col-lg-3.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
				.col-4.col-lg-3.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100

		.green-section.py-4.mb-3
			.container
				.row
					.col-6.col-md-3.col-lg-2.order-1.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-3.col-lg-2.order-2.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-3.col-lg-2.order-3.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-6.col-md-3.col-lg-2.order-4.order-lg-0
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-4by3
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-lg-4.pl-3.mb-3.mb-lg-0 Участие в природоохранной деятельности:  установка предупреждающих щитов в прибрежной зоне  нерестилищ и в лесном массиве.
	
		.container.mb-3
			.row
				.col-lg-6.d-flex.align-items-center.p-4
					p На территории Фонда «НАЧИНАНИЕ» в 2019 г  запущен проект реабилитационного лагеря на 25-30 человек для детей инвалидов, воспитанников детских домов и интернатов. В настоящее время ведутся проектные работы и строительство. Работы выполняются совместно с Благотворительным Фондом «Образ Жизни», который разрабатывает реабилитационные экопрограммы отдыха и просветительского обучения. Фонд профессионально осуществляет комплексное сопровождение деятельности учреждений социальной среды с 2014 г. В разработке реабилитационных программ принимает участие директор Фонда - Елена Береговая.
				.col-lg-6
					.row
						.col-7
							.gallery-item
								.embed-responsive.embed-responsive-3by4
									a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
						.col-5
							.row.h-100.gallery-item__container
								.col-12.h-75
									.gallery-item.h-100.pb-2
										a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.w-100.h-100
											.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
								.col-12.h-25
									.gallery-item.h-100.pb-2
										a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive.gallery-item__photo.w-100.h-100
											.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100

		.green-section.py-4.mb-3
			.container.text-center Проведение мероприятий по созданию и развитию  других экопарков Подмосковья; 
	
		.container.text-center.mb-3.pt-3 Фонд Начинание проводит благотворительный проект и не имеет никакой <br>цели по дальнейшему коммерческому использованию лесного участка.
	
		.green-section.pt-4.last-task
			.container
				.row
					.col-md-3.col-lg-2.d-none.d-md-block
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-5by6
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-4.col-md-3.col-lg-2
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-5by6
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-4.col-md-3.col-lg-2.d-flex.align-items-center 
						.task-welcome Коллектив Экопарка всегда рад гостям!
					.col-4.col-md-3.col-lg-2
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-5by6
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
					.col-lg-4.d-none.d-lg-block
						.gallery-item.gallery-item__container
							.embed-responsive.embed-responsive-16by9
								a(href="img/content/ex (1).jpg" data-toggle="lightbox").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/ex (1).jpg')").w-100.h-100
