extends ../template/main

block variables
	- var title = 'Животный мир'
	- var pageClass = 'secondary-page'
block content
	section.track
		.container
			h1 Экотропа для экскурсий
			.row
				.col-md-6.gallery-item__container
					.gallery-item.h-100
						.embed-responsive.h-100
							a(href="img/content/animals/slide (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").gallery-item__photo.gallery-item__main-photo.h-100.pb-2
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slide (2).jpg')").w-100.h-100
				.col-md-6
					.accent-block.p-3.p-md-5.mb-2
						.accent-block__title2 ЭКОТРОПА длиной 1,6 км <br>
						.accent-block__subtitle для экскурсий с познавательными остановками и двумя видовыми точками.
					.row
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (9).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (9).jpg')").w-100
							
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (10).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (10).jpg')").w-100
						.col-4.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (6).jpg')").w-100
			.row
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (4).jpg')").w-100
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (2).jpg')").w-100
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (15).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (15).jpg')").w-100
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (16).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (16).jpg')").w-100
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--long
							a(href="img/content/animals/animals (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (11).jpg')").w-100
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (4).jpg')").w-100
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (2).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (2).jpg')").w-100
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (15).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (15).jpg')").w-100
					.gallery-item
						.embed-responsive.embed-responsive-4by3
							a(href="img/content/animals/animals (16).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (16).jpg')").w-100
				.col-4.col-lg-2.gallery-item__container
					.gallery-item
						.embed-responsive.embed-responsive-custom--long
							a(href="img/content/animals/animals (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (11).jpg')").w-100
				.col-lg-6.pb-2
					.accent-block.mb-2.p-3.px-md-5.py-lg-0.accent-block-justify.h-100
						h4.text-dark.mb-0.text-right Экологическая работа Фонда «НАЧИНАНИЕ» 
						.accent-block__subtitle.text-right направлена на создание и развитие экопарков Подмосковья и формирование экологической культуры среди населения и школьников.
				.col-4.col-lg-2
					.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/animals/animals (17).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (17).jpg')").w-100
				.col-4.col-lg-2
					.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/animals/animals (13).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (13).jpg')").w-100
				.col-4.col-lg-2
					.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-3by4
								a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
				.col-lg-8
					.row
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-12.col-lg-6.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-custom--wide
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
						.col-6.col-lg-3.gallery-item__container
							.gallery-item
								.embed-responsive.embed-responsive-4by3
									a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
										.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100
				.col-6.offset-3.col-lg-4.offset-lg-0.offset-3
					.gallery-item__container
						.gallery-item
							.embed-responsive.embed-responsive-4by3--custom
								a(href="img/content/animals/animals (14).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item.gallery-item__photo
									.gallery-item__photo-preview(style="background-image: url('img/content/animals/animals (14).jpg')").w-100

		.green-section.mb-4.text-center.py-4
			.container
				h4.text-dark.mb-0 Информационные плакаты 
				.accent-block__subtitle на Экотропе раскрывают краткое содержание экскурсий 
		.container
			.swiper-container.gallery-slider
				.swiper-wrapper
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (1).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (1).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (3).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (3).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (4).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (4).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (5).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (5).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (6).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (6).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (7).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (7).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (8).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (8).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (9).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (9).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (10).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (10).jpg')").h-100
					.swiper-slide
						.embed-responsive.embed-responsive-16by9
							a(href="img/content/animals/slider/slide (11).jpg" data-toggle="lightbox" data-gallery="ex-gallery" data-title="item 1").embed-responsive-item
								.gallery-item__photo-preview(style="background-image: url('img/content/animals/slider/slide (11).jpg')").h-100
				.swiper-navigation
					.swiper-button-prev.gallery-button-prev
					.swiper-button-next.gallery-button-next
