extends ../template/main

block variables
	- var title = 'Волонтер'
	- var pageClass = 'secondary-page'
block content
	section.excursion
		.container
			h1 Волонтерское движение
			.row.mb-4
				.col-12.col-lg-7.pb-2
					p В нашей стране волонтерское движение вышло на новый уровень после того, как 2018 год был объявлен Годом Волонтера. Волонтеры- это люди, желающие добровольно, безвозмездно помочь. Волонтерское движение многие сравнивают с существовавшим в СССР движением Тимуровцев. Эта прекрасная традиция вновь возрождается в нашем обществе.
					p В 2019 году Волонтерское движение начало развиваться и у нас. В Экопарк приехала первая группа волонтеров – учащихся 6 классов из школы «Лесные озёра» дер. Новая Солнечногорского района. Школьники, их родители, учителя, все неравнодушные к природе и желающие помочь в ее сохранении, приезжают в Экопарк помочь его сотрудникам. Волонтеры ухаживают за саженцами, борются с вредителями, помогают очищать прибрежную полосу.

				.col-12.col-lg-5.pl-5
					.embed-responsive.embed-responsive-1by1.w-75.m-auto
						.embed-responsive-item.volonter-logo(style='background: url("img/content/volonter.png") no-repeat center top/contain')
			p.text-center.w-75.m-auto: i Экологическое волонтерство в Экопарке представляется уникальной возможностью каждому желающему внести свой вклад в сохранение леса и его биоценоза.




