extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content

	section.section-banner
		.swiper-container.banner-slider
			.swiper-wrapper
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight ЭКОПАРК <img src='img/general/banner-icon1.png'>
									.banner-item__title--small Фонда «Начинание»
								p.customRight Экопарк - это 38 га лесного участка <br>в Солнечногорском районе <br>Московской области
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img5.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight СОХРАНЯЕМ <img src='img/general/banner-icon.png'>
									.banner-item__title--small
								p.customRight На территории Экопарка <br>произрастают хвойные <br>и смешанные леса
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img4.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight обучаем <img src='img/general/banner-icon2.png'>
									.banner-item__title--small 
								p.customRight круглогодично функционирует <br>Школа Юннатов, <br> где проводятся занятия
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img3.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight Восстанавливаем <br> леса <img src='img/general/banner-icon3.png'>
									.banner-item__title--small
								p.customRight Совместно с Биофаком МГУ <br>проводятся работы <br>по лесовосстановлению
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img2.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight ЭКСКУРСИИ <img src='img/general/banner-icon4.png'>
									.banner-item__title--small ПО ЭКОТРОПЕ
								p.customRight позволяют рассказать <br>о флоре и фауне Подмосковья
				.swiper-slide
					.embed-responsive.embed-responsive-21by9
						.embed-responsive-item.banner-item
							.banner-item__photo(style="background-image: url('img/content/banner-img1.jpg')")
							.banner-item__content.text-right.text-white
								.banner-item__title.mb-3.customRight СОЗДАЁМ <img src='img/general/fish.png'>
									.banner-item__title--small НАУЧНУЮ БАЗУ
								p.customRight В Экопарк входит часть акватории <br>Истринского водохранилища где ихтиологи изучают <br>рыбные запасы  Подмосковья
			.swiper-pagination-container
				.swiper-pagination-btn смотреть сайт дальше
				.swiper-pagination.swiper-pagination--banner
			.swiper-button-prev.banner-button-prev: <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.02px" height="40.02px" viewBox="0 0 612.02 612.02" style="enable-background:new 0 0 612.02 612.02;" xml:space="preserve"><g><g id="_x35__11_"><g><path d="M596.96,269.674L342.381,15.094c-20.079-20.079-52.644-20.079-72.723,0c-20.079,20.079-20.079,52.644,0,72.723L487.852,306.01L269.658,524.202c-20.079,20.079-20.079,52.644,0,72.723s52.644,20.079,72.723,0L596.96,342.346C617.039,322.317,617.039,289.753,596.96,269.674z M290.858,254.258L88.744,41.238c-20.309-21.378-53.204-21.378-73.513,0s-20.309,56.058,0,77.462l165.371,174.289L15.231,467.278c-20.309,21.379-20.309,56.083,0,77.462s53.204,21.379,73.513,0L290.858,331.72C311.167,310.342,311.167,275.662,290.858,254.258z"/></g></g></g></svg>
			.swiper-button-next.banner-button-next: <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.02px" height="40.02px" viewBox="0 0 612.02 612.02" style="enable-background:new 0 0 612.02 612.02;" xml:space="preserve"><g><g id="_x35__11_"><g><path d="M596.96,269.674L342.381,15.094c-20.079-20.079-52.644-20.079-72.723,0c-20.079,20.079-20.079,52.644,0,72.723L487.852,306.01L269.658,524.202c-20.079,20.079-20.079,52.644,0,72.723s52.644,20.079,72.723,0L596.96,342.346C617.039,322.317,617.039,289.753,596.96,269.674z M290.858,254.258L88.744,41.238c-20.309-21.378-53.204-21.378-73.513,0s-20.309,56.058,0,77.462l165.371,174.289L15.231,467.278c-20.309,21.379-20.309,56.083,0,77.462s53.204,21.379,73.513,0L290.858,331.72C311.167,310.342,311.167,275.662,290.858,254.258z"/></g></g></g></svg>
	.sections-wrapper
		section.section-job.green-section
			.container
				h1 Просветительская работа
				.row.card-list
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-up").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img.jpg')")
							.card-title экскурсии школьникам
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-up" data-aos-delay="300").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img2.jpg')")
							.card-title по экотропе
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-up" data-aos-delay="600").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img1.jpg')")
							.card-title книга отзывов
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-up" data-aos-delay="900").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img4.jpg')")
							.card-title полевые работы студентов биофака

		section.section-about-us.green-section
			.container
				h1 Об Экопарке Фонда «Начинание»
				.row.card-list.card-list--begin
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-right" data-aos-delay="300").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us6.jpg')")
							.card-title Школа Юннатов буклет
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-right" data-aos-delay="300").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us3.jpg')")
							.card-title Животный мир Экопарка
					
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-left" data-aos-delay="300").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us1.jpg')")
							.card-title Как нас найти
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-up").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us5.jpg')")
							.card-title Нас поддерживают 
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-up").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us4.jpg')")
							.card-title Задачи Фонда Сотрудники всегда вам рады
				
					.col-12.col-sm-6.col-lg-4.card-container
						a(href="#" class="nolink" data-aos="fade-left" data-aos-delay="300").card-item
							.embed-responsive-4by3.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-us2.jpg')")
							.card-title Галерея

		section.section-job.green-section
			.container
				h1 Сохраним природу
				.row.card-list.card-list--nature
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-right" data-aos-delay="300").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-nat4.jpg')")
							.card-title Заявки на экскурсию
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-right").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-nat3.jpg')")
							.card-title Биофак МГУ – соисполнители проекта
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-left").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-nat2.jpg')")
							.card-title Научные работы МГУ по восстановлению природы 
					.col-12.col-sm-6.col-lg-3.card-container
						a(href="#" class="nolink" data-aos="fade-left" data-aos-delay="300").card-item
							.embed-responsive-1by1.embed-responsive
								.embed-responsive-item.card-photo(style="background-image: url('img/content/img-nat1.jpg')")
							.card-title Хочу помочь
		.bg-green
	section.section-news
		.container
			.news-form-container.d-flex
				.section-title-news.py-3: h1.text-center.m-0.p-0 <b>Узнай о событиях экопарка первым!</b>
				form(action="").form-news
					img(src="img/general/news-icon1.png", alt="").form-img
					label.input-email.mb-0
						input(type="text" placeholder="Ваш e-mail адрес")
						.btn.btn--input-email подписаться
			.news-container
				h1 Последние события
				.row
					.col-12.col-lg-6.news-item Проведено лесовосстановление после экокатастроф. Высажено более <span class="text-big">4500 саженцев</span> сосны, липы, клена.
						a(href="#" ).link-btn читать больше >>
					.col-12.col-lg-6.news-item В 2019 году проведено более <span class='text-big'>30 экскурсий</span> для учащихся.
						a(href="#" ).link-btn читать больше >>
					.col-12.col-lg-6.news-item Наш экопарк посетили более <span class="text-big">500 школьников их родителей </span> и учителей.
						a(href="#" ).link-btn читать больше >>
					.col-12.col-lg-6.news-item В мае 2018 года была открыта <span class='text-big'>Школа Юннатов</span>.
						a(href="#" ).link-btn читать больше >>

	section.section-park-video
		.park-section-bg
		.container
			h1 Осенние <br>красоты Экопарка 
				.subtitle видовой клип
			.embed-responsive.embed-responsive-4by3.w-50.m-auto
				.embed-responsive-item
					img(src="img/content/video-img.jpg", alt="").w-100

	section.section-reviews
		.container.position-relative
			h1 Книга отзывов
			.swiper-container.reviews-slider
				.swiper-wrapper
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo(style="background-image: url(img/content/review1.jpg)")
							.review-item__title.text-accent <h4><b>ГБОУ Школа № 1568</b></h4>

							.review-item__text.mb-3 ГБОУ Школа № 1568 благодарит организаторов парка «начинание» за прекрасную инициативу. Ежедневно школьники видят и слышат примеры негативного влияния человека на природу, а попав в экопарк «Начинание» сталкиваются с совершенно другими отношениями человека к природе. <br>Любовь к природе и бережное отношение к ней, необходимость биологического знания и умение его применять – это те ценности, которые уносят ребята с собой после посещения парка. Огромное спасибо преподавателям и сотрудникам Биологического факультета МГУ за удивительно интересные экскурсии.
							.review-item__author.text-accent.text-right <i>Учитель биологии <br> О.А. Дмитриева</i>
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo
									img(src="img/content/review.jpg", alt="").m-auto.d-block.h-100
							a(href="#").btn-fixed-slide.m-auto.nolink.text-white <b>отправить</b> свой отзыв
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo(style="background-image: url(img/content/review2.jpg)")
							.review-item__title.text-accent <h4><b>Школа 2006</b></h4>

							.review-item__text.mb-3 Дважды мы были с учащимися нашей школы на экскурсии в экопарке «Начинание». Хочется выразить большую благодарность организаторам этих экскурсий за ту просветительскую работу, которую они проводят. За горящие глаза преподавателей, за их заинтересованность и умение увлечь детей. Так же понравилась система организации самого экопарка. Очень продумана и интересно организована экотропа. Дополнительную информацию дают стенды на экотропе..
							.review-item__author.text-accent.text-right <i>Учитель биологии <br> Ю.В. Миронова</i>
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo(style="background-image: url(img/content/review1.jpg)")
							.review-item__title.text-accent <h4><b>ГБОУ Школа № 1568</b></h4>

							.review-item__text.mb-3 ГБОУ Школа № 1568 благодарит организаторов парка «начинание» за прекрасную инициативу. Ежедневно школьники видят и слышат примеры негативного влияния человека на природу, а попав в экопарк «Начинание» сталкиваются с совершенно другими отношениями человека к природе. <br>Любовь к природе и бережное отношение к ней, необходимость биологического знания и умение его применять – это те ценности, которые уносят ребята с собой после посещения парка. Огромное спасибо преподавателям и сотрудникам Биологического факультета МГУ за удивительно интересные экскурсии.
							.review-item__author.text-accent.text-right <i>Учитель биологии <br> О.А. Дмитриева</i>
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo
									img(src="img/content/review.jpg", alt="").m-auto.d-block.h-100
							a(href="#").btn-fixed-slide.m-auto.nolink.text-white <b>отправить</b> свой отзыв
					.swiper-slide
						.review-item
							.embed-responsive.embed-responsive-1by1.mb-5
								.embed-responsive-item.review-item__photo(style="background-image: url(img/content/review2.jpg)")
							.review-item__title.text-accent <h4><b>ГБОУ Школа № 1568</b></h4>

							.review-item__text.mb-3 ГБОУ Школа № 1568 благодарит организаторов парка «начинание» за прекрасную инициативу. Ежедневно школьники видят и слышат примеры негативного влияния человека на природу, а попав в экопарк «Начинание» сталкиваются с совершенно другими отношениями человека к природе. <br>Любовь к природе и бережное отношение к ней, необходимость биологического знания и умение его применять – это те ценности, которые уносят ребята с собой после посещения парка. Огромное спасибо преподавателям и сотрудникам Биологического факультета МГУ за удивительно интересные экскурсии.
							.review-item__author.text-accent.text-right <i>Учитель биологии <br> О.А. Дмитриева</i>
			.swiper-button-prev.reviews-button-prev: <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.02px" height="40.02px" viewBox="0 0 612.02 612.02" style="enable-background:new 0 0 612.02 612.02;" xml:space="preserve"><g><g id="_x35__11_"><g><path d="M596.96,269.674L342.381,15.094c-20.079-20.079-52.644-20.079-72.723,0c-20.079,20.079-20.079,52.644,0,72.723L487.852,306.01L269.658,524.202c-20.079,20.079-20.079,52.644,0,72.723s52.644,20.079,72.723,0L596.96,342.346C617.039,322.317,617.039,289.753,596.96,269.674z M290.858,254.258L88.744,41.238c-20.309-21.378-53.204-21.378-73.513,0s-20.309,56.058,0,77.462l165.371,174.289L15.231,467.278c-20.309,21.379-20.309,56.083,0,77.462s53.204,21.379,73.513,0L290.858,331.72C311.167,310.342,311.167,275.662,290.858,254.258z"/></g></g></g></svg>
			.swiper-button-next.reviews-button-next: <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.02px" height="40.02px" viewBox="0 0 612.02 612.02" style="enable-background:new 0 0 612.02 612.02;" xml:space="preserve"><g><g id="_x35__11_"><g><path d="M596.96,269.674L342.381,15.094c-20.079-20.079-52.644-20.079-72.723,0c-20.079,20.079-20.079,52.644,0,72.723L487.852,306.01L269.658,524.202c-20.079,20.079-20.079,52.644,0,72.723s52.644,20.079,72.723,0L596.96,342.346C617.039,322.317,617.039,289.753,596.96,269.674z M290.858,254.258L88.744,41.238c-20.309-21.378-53.204-21.378-73.513,0s-20.309,56.058,0,77.462l165.371,174.289L15.231,467.278c-20.309,21.379-20.309,56.083,0,77.462s53.204,21.379,73.513,0L290.858,331.72C311.167,310.342,311.167,275.662,290.858,254.258z"/></g></g></g></svg>