footer.footer.text-white
	.container
		.row
			.col-3.d-none.d-lg-block
				a(href="#").footer-logo.d-flex.justify-content-end.mr-5
					img(src="img/general/footer-logo.png", alt="")
			.col-12.col-sm-4.col-lg-3
				ul.footer-nav
					li: a(href="#").nav-link.nav-link--footer КЛИП ПРО КРАСОТЫ ЭКОПАРКА
					li: a(href="#").nav-link.nav-link--footer СХЕМА ЭКОПАРКА
					li: a(href="#").nav-link.nav-link--footer О ФОНДЕ
					li: a(href="#").nav-link.nav-link--footer ПОДДЕРЖИ ЭКОПАРК
			.col-12.col-sm-4.col-lg-3
				ul.footer-nav
					li: a(href="#").nav-link.nav-link--footer ЗАЯВКА НА ЭКСКУРСИЮ
					li: a(href="#").nav-link.nav-link--footer ВОПРОСЫ-ОТВЕТЫ
					li: a(href="#").nav-link.nav-link--footer КОНТАКТЫ
			.col-12.col-sm-4.col-lg-3
				ul.footer-nav.mb-2
					li: a(href="#").nav-link.nav-link--footer КЛИП ПРО КРАСОТЫ ЭКОПАРКА
					li: a(href="#").nav-link.nav-link--footer СХЕМА ЭКОПАРКА
				.social.d-flex
					.social-item.mr-3
					.social-item
			.col-12.pt-4.copyright.text-center ©«Московский региональный общественный фонд создания, поддержания и развития экологических парков «НАЧИНАНИЕ» (МРОФ «НАЧИНАНИЕ») 2019. <br> Все права защищены | ИНН 7701009269 | Председатель Фонда – Винтер Юлия Владимировна

